<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>

  </startup>

  <connectionStrings>
    <!--<add name="Multiline_db" connectionString="Data Source=192.168.1.190,1435;Initial Catalog=multiline_db; user Id=Administrator; password=198HBTrail#" providerName="System.Data.SqlClient"/>-->
	  <add name="Multiline_db" connectionString="Data Source=MLAPPSVR\STREAMLINE;Initial Catalog=multiline_db; user Id=BrendaChu; password=198HBTrail#" providerName="System.Data.SqlClient"/>
	  <add name="Multiline2016_local" connectionString="Data Source=192.168.1.190,1435\STREAMLINE; Initial Catalog=multiline_2016;Persist Security Info=True;User ID=BrendaChu;Password=198HBTrail#" providerName="System.Data.SqlClient"/>
	  <add name="Multiline_db_Integrated" connectionString="Data Source=192.168.1.190,1435;Initial Catalog=multiline_db; Intergrate Security=true" providerName="System.Data.SqlClient"/>
    <add name="Multiline_App2020_Revised_2023.Properties.Settings.multiline_dbConnectionString" connectionString="Data Source=MLAPPSVR\STREAMLINE;Initial Catalog=multiline_db;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  
</configuration>
